stages:
  - trigger-gh-actions

trigger_github_actions_tests:
  stage: trigger-gh-actions
  image: alpine:3.20
  script:
    - apk add --no-cache curl jq
    - |
      # Lanzar el workflow
      curl -X POST \
        -H "Accept: application/vnd.github+json" \
        -H "Authorization: Bearer ${GITHUB_TOKEN}" \
        https://api.github.com/repos/mi_usuario/PruebasCI/actions/workflows/tests.yml/dispatches \
        -d '{
          "ref": "main",
          "inputs": {
            "gitlab_pipeline_id": "'"${CI_PIPELINE_ID}"'"
          }
        }'

      # Espera inicial
      sleep 20

      # Polling del último run
      RUN_STATUS=""
      for i in $(seq 1 15); do
        RESP=$(curl -s \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${GITHUB_TOKEN}" \
          "https://api.github.com/repos/LucasGarcia-Romero/PruebasCI/actions/workflows/tests.yml/runs?branch=main&per_page=1")

        RUN_STATUS=$(echo "$RESP" | jq -r '.workflow_runs[0].conclusion')

        echo "Intento $i - estado: $RUN_STATUS"

        if [ "$RUN_STATUS" != "null" ]; then
          break
        fi

        sleep 20
      done

      if [ "$RUN_STATUS" != "success" ]; then
        echo "GitHub Actions terminó con estado: $RUN_STATUS"
        exit 1
      fi
  only:
    - main
